
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: #fff;
}

h1 {
    background-color: #3b5998;
    padding: 10px;
    text-align: center;
    color: #fff;
}

p {
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    margin-left: 47%;
    
}

.container {
    padding: 20px;
    text-align: center;
}

input[type="text"],
textarea {
    padding: 10px;
    margin: 10px 0;
    width: 60%;
    font-size: 16px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #5a67d8;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}


.result-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    
    /* flex-direction: column; */
}

/* Style for the text input box */
.input-box {
    flex: 1;
    padding: 10px;
    text-align: center;
}

/* Style for the result box */
.result-box {
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: #3b5998;
    border-radius: 10px;
    margin: 15px;
    margin-top: 100px;
}

/* Style for the result box heading */
.result-box h2 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Style for the "Back to Home" link */
.home-link {
    display: inline-block;
    margin-top: 20px;
    margin-left: 47%;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

/* Hover effect for the "Back to Home" link */
.home-link:hover {
    background-color: #fff;
    color: #3b5998;
}
