body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #3b5998;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #5a67d8;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px; /* Move the form a little above */
}

form {
    width: 60%;
    text-align: center;
    /* margin: auto; Center the form horizontally */
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

input[type="text"],
textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

input[type="submit"] {
    width: auto; /* Set the predict button's width equal to default button's width */
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: #5a67d8;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

footer {
    background-color: #3b5998;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.home-link {
    display: inline-block;
    margin-top: 20px;
    margin-left: auto;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

/* Hover effect for the "Back to Home" link */
.home-link:hover {
    background-color: #fff;
    color: #3b5998;
}