<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Sentiment Analysis</h1>
    </header>

    <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </nav>
    
    <form action="/sentiment-analyzer" method="post">
       
        <p>Enter your text:</p>
        
        <input type="text" name="text_input" id="text_input" placeholder="Type here..." required>
        <br>
        <input class = "home-link" type="submit" value="Predict">
    </form>
    <footer>
        <p>&copy; 2023 Made with love ❤️ by Tarun and Likhith</p>
    </footer>
</body>
</html>